#component.name {
  paddingHoriontal: 20;
  marginVertical: 55;
  font: italic small-caps 500 12px/30px "Georgia, serif";
  border: 5pt solid #fbfbfb;
}

.circle {
  paddingHorizontal: 20;
  marginVertical: 55;
  font: italic small-caps 500 12px/30px "Georgia, serif";
  border: 5pt solid #fbfbfb;
}