#developer.project.screen {
  font-size: 25;

  .square {
    margin-top: 10pt;
    width: 25;
    height: 55;
    background-color: 'yellow';
    align-items: 'center';
    justify-content: 'center';
  }

  #developer.project.view {
    width: 100;
    height: 50;
    background-color: 'red';
  }
}