#Screen:active {
  background-color: black;
}

#Screen {
  :blur {
    display: flex;
  }
}

#Screen {    
  :focus {
    font-weight: 500;
  }

  flex:1;
  background-color: aqua;
  align-items: baseline;

  input[type="text"]:disabled {
    background-color: green;
    font-size:34px;
  }

  .circle {
    :hover::after {
      width:500px;
    }
    background-color: 'yellow';
    align-items: 'center';
    justify-content: 'center';
  }

  #View {

    .nestedCircle {
      overflow: visible;
      @extend circle;
      @extend .blue;
      // @extend '#Screen #View .square .min';
    }

    .square {
      background-color: 'yellow';
      align-items: 'center';
      justify-content: 'center';

      .min {
        flex:0;
      }
    }

    .blue {
      background-color: 'blue';
    }
  }


  @style-def circle {
    overflow: hidden;
    margin-top: 50;
    background-color: 'yellow';
    flex: 1;
  }

}